<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LuxeWalk - Admin Dashboard </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/images/favicon.png" rel="icon">
  <link href="/imges/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

  <!-- Vendor CSS Files -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/styleSheets/bootstrap-icons.css" rel="stylesheet">
  <link href="/styleSheets/boxicons.min.css" rel="stylesheet">
  <link href="/styleSheets/quill.snow.css" rel="stylesheet">
  <link href="/styleSheets/quill.bubble.css" rel="stylesheet">
  <link href="/styleSheets/remixicon.css" rel="stylesheet">
  <link href="/styleSheets/admin-style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/styleSheets/adminTemplateMainCSS.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <!-- sweetalert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>