  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

      <!-- Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link" href="/adminHome">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <!-- User Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/users/allUsers">
              <i class="bi bi-circle"></i><span>All Users</span>
            </a>
          </li>
          <li>
            <a href="/admin/users/manage">
              <i class="bi bi-circle"></i><span>Manage Users</span>
            </a>
          </li>
          <li>
            <a href="/admin/users/blocked">
              <i class="bi bi-circle-fill"></i><span>Blocked Users</span>
            </a>
          </li>
          <li>
            <a href="/admin/users/recentlyDeleted">
              <i class="bi bi-circle"></i><span>Recently Deleted</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End User Nav -->

      <!-- Products Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/products/category">
              <i class="bi bi-circle"></i><span>Category</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Products Nav -->

      <!-- Orders Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-list-check"></i><span>Orders</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>All Orders</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Orders Nav -->

      



    </ul>
  </aside>