# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# Optional npm cache directory
.npm/

# IDE and OS specific files
.DS_Store
*.swp
*.swo
*.log