<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styleSheets/forgotPassword.css" >
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container mt-5 mb-5 forgotPassword_form">
        <div class="form-container">
            <div class="row justify-content-center ">
                <h1> Forgot Password</h1>
            </div>
            <div class="image-div">
                <img  src="../images/2351.jpg_wh300.jpg" alt="forgot-image" >
            </div>
            <div class="para">
                <p class="first-para"> Enter your Email or Username and we'll send you a link to get back into your Account.</p>
            </div>
            <% if (typeof error !== 'undefined') { %>
                <script>
                    Swal.fire({
                        title: '<%= error %>',
                        text : '<%= text %>',
                        width : '50%',
                        timer: 5000
                    });
                </script>
            <% } %>
            <% if (typeof message !== 'undefined') { %>
                <script>
                    Swal.fire({
                        icon : 'success',
                        text: '<%= text %>',
                        width : '50%',
                        timer: 5000
                    });
                </script>
            <% } %>
            <form class="form" action="/resetPassword_link" method="post" >
                <div class="form-floating mb-5">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                    <label for="floatingInput"> Email/Username</label>
                </div>
                <div class="submit">
                    <a href="/" class="btn btn-link"><b>back to login</b></a>
                    <input class="btn btn-primary" type="submit" value="Sent Link">
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        const resetForm = document.querySelector('.form');

        resetForm.addEventListener('submit', (event) => {

        event.preventDefault();

        const value = document.querySelector('#floatingInput').value;
    
        //check input field is not empty
        if(value === ''){
        Swal.fire({
            title : 'ERROR',
            text : 'Please Enter Email/ Username',
            timer: 5000,
        });
        return;
    }

    resetForm.submit();

    });

    </script>
</body>
</html>