body {
  background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.7)), url('../images/1552.jpg_wh300.jpg');
  background-repeat: no-repeat; 
  background-size: cover; 
  display: -webkit-flex; 
  -webkit-align-items: center; 
  display: flex;
  align-items: center;
  color: #ededed;
  height: 100vh;
  width: 100%;
}

.form-container{
  padding: 10% 0%;
}

 /* width for mobile devices */
.forgotPassword_form {
  width: 85%; 
  max-width: 90%;
  margin: auto; 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
}

/* Width for iPad */
@media (min-width: 768px) and (max-width: 1024px) {
  .forgotPassword_form {
      width: 60%; 
  }
}

/* Width for larger screens */
@media (min-width: 1025px) {
  .forgotPassword_form {
      width: 35%; 
  }
}

.image-div{
  display: flex;
  justify-content: center;
  margin: 5% 0%;
}

.para{
  margin: 0% 10%;
}

form{
  margin: 0% 10%;
}

.submit{
  display: flex;
  justify-content: space-between;
}

.forgotPassword_form img {
  width: 50%;
  border-radius: 6%;
}

.forgotPassword_form input[type="text"] {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.forgotPassword_form label{
  color: black;
}

.forgotPassword_form h1{
  display: flex;
  justify-content: center;

}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.container{
  animation: myAnim 2s ease 0s 1 normal forwards;
}